.button {
  padding: 2%;
  display: table-cell;
  margin: 2% auto;
  text-align: center;
  vertical-align: baseline;
  justify-content: center;
  /* width: 30%; */
  border: 0px solid black;
  padding: 12px 30px;
  border-radius: 50px;
  /* background: linear-gradient(
    90deg,
    rgba(30, 106, 227, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background: linear-gradient(
    90deg,
    rgba(30, 106, 227, 1) 0%,
    rgba(30, 106, 227, 1) 0%
  );
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 4px 2px -2px gray;
  margin-bottom: 5%;
}

.button:hover {
  cursor: pointer;
  transition: 1s;
  background: linear-gradient(
    90deg,
    rgba(30, 106, 227, 1) 0%,
    rgb(0, 140, 255) 100%
  );
}
